$font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$coffee: #4B371C;

body {
    margin: 0;
    padding:0;
}

nav {
    position: fixed;
    left:0;
    top:0;
    width:300px;
    min-width: 275px;
    border: 5px solid $coffee;
    height: 90%;

    h1 {
        text-align: center;
        font-family: $font;
        font-size: 32px;
    }
    ul {
        display: flex;
        flex-direction: column;
        padding:0;
        margin:0;
        height: 88.1%;
        overflow-y: scroll;

    }
    li {

        display: inline;
        font-family: $font;
        font-size: 22px;
        text-indent: 3ch;
        padding: 10px 0;
        box-sizing: border-box;
        border-top: 4px solid $coffee;
        color: rgb(136, 136, 136);
    }
    li:hover {
        background-color: lightgrey;
    }
}

main {
    margin-left:310px;
    font-family: $font;
    height: 100%;
    display: absolute;
    top:0;

    section {
        width: 80%;
        margin: 0 12% 0 8%;

        h1 {
            font-size: 32px;
        }
        p {
            text-indent: 4ch;
            font-size:1.2em;
            line-height: 1.5em;
        }
        ul {
            li {
                font-size: 1.2em;
                line-height: 1.5em;
            }
            ul {
                li {
                    list-style-type: "\2615";
                }
            }
        }

    }
}